<!-- <div class="locations-container">
  <div class="locations-header">
    <h2>Our Hospital Locations</h2>
    <p>Find the nearest Suku Hospitals branch for quality healthcare services</p>
  </div>

  <div class="locations-content">
    <div class="map-container">
      <div #gmap class="google-map"></div>
    </div>

    <div class="locations-list">
      <div class="location-card" *ngFor="let location of locations"
           (mouseenter)="highlightMarker(location)"
           (mouseleave)="resetMap()"
           (click)="centerMap(location)">
        <div class="location-icon">
          <i class="fas fa-hospital"></i>
        </div>
        <div class="location-info">
          <h3>{{location.name}}</h3>
          <p class="address">{{location.address}}</p>
          <div class="location-meta">
            <span><i class="fas fa-phone"></i> {{location.phone}}</span>
            <span><i class="fas fa-clock"></i> {{location.hours}}</span>
          </div>
          <a href="#" class="direction-btn">
            <i class="fas fa-directions"></i> Get Directions
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->
